body{
  background: #25252e;
}
h1{
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  color: #3498db;
  margin-bottom: 3.5rem;
  
}
.container{
  background: #fff;
  padding: 1.2rem;
  width: 90vw;
  margin: 3rem auto;
  max-width: 70rem;
  border-radius: 10px;
  box-shadow: 0,0,0 rgb(0, 0, 0, 07);
}
.form-control{
  position: relative;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 5px;
  padding-bottom:  5px;
  padding: 5px ;
  
}
.submit-btn{
  background: #3498db;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.8rem;
  border: 2px solid #3498db;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  float: right;
}
.alert.error{
  background: orange;
  color: #fff;
}
.alert.success{
  background: yellowgreen;
  color: #fff;
}
.alert.delete{
  background: red;
  color: #fff;
}
.btn{
  font-size: 1.2rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.textinput{
  width: 80%;
  padding: 0.25rem;
  font-size: 0.8rem;
  background: #fff;
  flex: 1 0 auto;
  border-radius: 5px;
  border: 2px solid #f0f0f0;
  

}
.list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0.1rem 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgb(0, 0, 0,0.7) ;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.alert{
  margin-bottom: 1.5rem;
  height: 1.25rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
}
